
html,
body,
ul,
li,
p {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}


a {
  font-style: normal;
  text-decoration: none;
  color: var(--mantine-color-text) !important;
}


.editor li {
  margin: revert;
  padding: revert;
  list-style: revert;
}

/* Mux Player */
mux-player {
  height:100%;
  max-width: 600px;
}