.wrap {
  display: flex;
  width: 100%;
}


@media screen and (min-width: 640px) {
  .wrap {
    padding-left: 72px;
  }

  .container {
    /*display: flex;*/
    flex: 1;
    justify-content: center;
    /*align-items: center;*/
    /*justify-content: center;*/
    /*flex-direction: column;*/
  }
}


@media screen and (min-width: 1200px) {
  .wrap {
    padding-left: 244px;
  }

  .container {
    width: 100%;
  }
}
