.wrap {
  display:flex;
  max-width: 100%
}
.container {
  width: 100%;
  border-left: 1px solid #8a96a340;
  border-right: 1px solid #8a96a340;
  height: 100vh;
}

@media screen and (min-width: 760px) {
  .container {
    padding-left:100px;
  }
}


