.wrap {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  background: var(--mantine-color-body);
  z-index: 50;
  align-content: start;
}

.menu {
  display: flex;
  flex: 1 1 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.menu > a span,
.menu > button span {
  margin:0
}

.labelWrapper {
  display: none;
}

.iconWrapper {
}

@media screen and (min-width: 1260px) {
  .wrap {
    flex: 0 0 100px;
  }
  .labelWrapper {
    display: block;
  }
}

@media screen and (min-width: 640px) {
  .wrap {
    width: 100px;
    top:0;
    left:0;
    flex-wrap: wrap;
    margin:0;
    border-right:1px solid #bebebe;
  }

  .labelWrapper {
    display: none;
  }
  .drawerWrapper {
    margin-left: 100px;
  }
}
