@media screen and (min-width: 640px) {
  .wrapper {
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .wrapper {
    justify-content: space-evenly;
  }

  .recommend {
    max-width: 320px;
  }
}

