.subscribedWrapper{
  display:flex;
  width:100%;
  gap:10px;
  align-items: center;
  justify-content: space-between;
}

.subscribedWrapper p {
  text-overflow: ellipsis;
  overflow:hidden;
  white-space: nowrap;
}

.button {
  display:flex;
  align-items: center;
  width :60%;
  gap:20px;
}

.infoWrapper{
  flex:0 0 150px;
  overflow:hidden;
}

.infoWrapper p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow:hidden;
}

