.wrap {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  flex-direction: row;
  background: var(--mantine-color-body);
  z-index: 50;
  justify-content: space-around;
  align-items: center;
}

.topArea{
  display:flex;
  width :100%;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.labelWrapper {
  display: none;
}

.setting{
  display:none;
}

.menuWrapper{
  width: 100%
}

.dim{
  width:100%;
  height:100vh;
  position:fixed;
  top:0;
  right:0;
  background:rgba(0, 0, 0, 0.8)
}

@media screen and (min-width: 640px) {
  .wrap {
    width: 60px;
    padding: 50px 0;
    top:0;
    left:0;
    flex-wrap: wrap;
    margin:0;
    border-right:1px solid #bebebe;
    align-content: space-between;
    justify-content: space-between;
  }

  .topArea{
    display:flex;
    width : 100%;
    padding: 0 20px;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap:40px;
  }

  .menu {
    width : 100%;
    align-items: start;
  }


  .drawerWrapper {
    margin-left: 60px;
  }

  .setting{
    display:flex;
    width :100%;
    align-items: start;
    padding: 0 20px;
  }

  .setting a{
    display:flex;
    gap:10px;
    width :100%;
    height: 36px;
    align-items: center;
  }

  .menu > button > span > span{
    margin:0;
  }

  .dim{
    width:calc(100vw - 60px);
  }
}

@media screen and (min-width: 1000px) {
  .wrap{
    max-width: 340px;
    min-width: 340px;
  }

  .drawerWrapper {
    margin-left: 340px;
  }

  .labelWrapper {
    display: block;
  }

  .dim{
    width:calc(100vw - 340px);
  }
}