.footerWrapper {
  margin-top: 20px;
}

.videoWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  background: #000;
}
.videoWrapper video {
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}
