.wrapper {
  display: flex;
  margin: 20px 0;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}

.userInfo {
  display: flex;
  gap : 4px;
  align-items: center;
  flex:0 0 100px;
}

.contentWrapper{
  width: calc(100% - 200px);
  flex: 1;
  text-align: left;
}

.date{
  flex:0 0 100px;
  font-size:12px;
  text-align:center;
}
