.wrapper {
  display:flex;
  flex-wrap:wrap;
  gap:20px;
  padding:20px 0;
}

.commentWrapper {
  display: flex;
  flex:0 0 100%;
  flex-wrap:wrap;
  gap: 10px;
  justify-content: space-between;
  align-items: start;
}

.userInfo {
  display: flex;
  gap : 10px;
  align-items: center;
  flex:0 0 100%;
}

.contentWrapper{
  width: calc(100% - 200px);
  flex: 1;
  text-align: left;
  word-break: break-word;
}

.date{
  flex:0 0 100px;
  font-size:12px;
  text-align:center;
}

@media screen and (min-width: 1200px) {
  .userInfo {
    flex:0 0 100px;
  }
}
