.wrapper {
  flex: 1 1 100%;
  margin-top: 20px;
  padding: 12px;
  position: sticky;
  top: 20px;
  right: 0;
  border-radius: 6px;
  background: var(--mantine-color-text);
}

.title {
  color: var(--mantine-color-body);
}

.recommend {
  display:flex;
  flex-direction: column;
  gap:30px;
  margin-top:20px;
  color: var(--mantine-color-body);
  overflow-y:auto;
  height: 500px;
}


.recommendSlide {
  flex-direction: row;
  color: var(--mantine-color-body);
}
