.wrapper {
  flex: 1 1 100%;
  margin-top: 20px;
  padding: 12px;
  position: sticky;
  top: 20px;
  right: 0;
  border-radius: 6px;
  background: var(--mantine-color-text);
  height: 500px;
}

.title {
  color: var(--mantine-color-body);
}

.recommend {
  color: var(--mantine-color-body);
}
